$primary-color: #273746;
$secondary-color: #34495e;
$background: #2e4053;
$danger-color: #1abc9c;
$footer: #212f3c;
$theme-color: #f2f3f4;
$theme-font: "Inter", sans-serif;
$min: 14px;
$sm: 16px;
$md: 24px;
$lg: 56px;
$transition-speed: heigth 100ms ease-in;
